/* ------------ GLOBAL ------------ */
:root {
  --surface-white: #efefef;
  --surface-shadow: #d9d9d9;
  --text-white: #efefef;
  --text-black: #020202;
  --pure-white: #fff;
  --pure-black: #000;
  --background-black: #020202;
}

/* ------------ GLOBAL ------------ */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  background-color: var(--background-black);
}

/* -- Main Text -- */
html,
body,
a {
  color: var(--text-white);
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.82915rem;
  line-height: 1;
  font-variation-settings: "wght" 260, "wdth" 100;
}

.text-black {
  color: var(--text-black);
  font-variation-settings: "wght" 310, "wdth" 100;
}

/* -- input/button -- */
input,
button {
  padding: 4px 6px;
  border-radius: 0;
  border: 1px solid var(--pure-black);
  background-color: var(--surface-white);
  color: var(--text-black);
  letter-spacing: 0px;
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.82915rem;
  font-variation-settings: "wght" 310, "wdth" 100;
}

input {
  line-height: 1.5;
  box-shadow: none;
}

input:focus {
  outline: none;
}

button {
  line-height: 1.2;
  outline: none;
}

button:active {
  background-color: var(--surface-shadow);
}

/* -- Wallpaper/Noise -- */
#wallpaper-noise-container {
  z-index: -99998;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  pointer-events: none;
}

#wallpaper-noise {
  position: absolute;
  width: 300%;
  height: 300%;
  max-width: none;
  background-image: url(/images/grain.png);
  background-position: 50%;
  background-size: 7%;
  opacity: 0.05;
  top: -150%;
  bottom: 0%;
  left: -150%;
  right: 0%;
  animation: 2s steps(1) infinite noise;
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
#wallpaper-video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-black);
  z-index: -99999;
  cursor: none;
}

#wallpaper-video {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

/* -- Header -- */
#header {
  height: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.header-difference {
  mix-blend-mode: difference;
  color: var(--pure-white);
  border-color: var(--pure-white);
  filter: brightness(1);
}

.header-white {
  mix-blend-mode: normal;
  color: var(--pure-white);
  border-color: var(--pure-white);
  filter: brightness(1);
}

.header-black {
  mix-blend-mode: normal;
  color: var(--pure-black);
  border-color: var(--pure-black);
  filter: brightness(0);
}

.header-border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.header-border-right {
  border-right-width: 1px;
  border-right-style: solid;
}

/* -- Header Dropdown Button -- */
#header-dropdown-btn {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.header-dropdown-btn-logo {
  height: 20px;
  width: auto;
  margin: 0 4px 0 5px;
}

.header-dropdown-btn-arrow {
  margin: 0 5px 0 0;
}

/* -- Header Whitespace -- */
#header-whitespace {
  height: 100%;
  flex-grow: 1;
}

/* -- Header Time/Date -- */
#header-timedate {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 20px;
}

.header-timedate-item {
  align-content: center;
  height: 20px;
  padding: 0 8px;
}

/* -- Header Dropdown Content -- */
.dropdown-content {
  display: none;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

#header-dropdown-content {
  position: fixed;
  background-color: var(--surface-white);
  min-width: 160px;
  overflow: auto;
  border-left: 1px solid var(--pure-black);
  border-right: 1px solid var(--pure-black);
  border-bottom: 1px solid var(--pure-black);
  z-index: 999999;
}

#header-dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#header-dropdown-content span:hover, #header-dropdown-content span:active {
  background-color: var(--surface-shadow);
}

/* -- Main Area -- */
main {
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

/* -- Windows -- */
.window {
  display: none;
  position: absolute;
  background-color: var(--surface-white);
  border: 1px solid var(--pure-black);
  transform: translate(-50%, -50%);
  z-index: -99995;
}

.window-header {
  height: 20px;
  padding: 4px;
  border-bottom: solid 1px var(--pure-black);
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-wrap: nowrap;
  cursor: move;
}

.window-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.window-close {
  cursor: pointer;
}

.window-drag-decoration {
  width: 100%;
  margin: 0 12px 0 10px;
  background-image: url(/images/ui/drag-area.png);
}

/* ------------- Individual Window CSS ------------- */
/* -- Welcome Window -- */
#window-welcome {
  width: 400px;
  top: 45%;
  left: 50%;
  white-space: nowrap;
}

#welcome-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#welcome-txt {
  padding: 10px 8px;
}

/* -- Wallpapers Window -- */
#window-wallpapers {
  width: 240px;
}

#window-wallpapers-content {
  padding: 10px;
}

#wallpaper-preview {
  width: 100%;
  margin-bottom: 10px;
}

#wallpaper-preview-img {
  width: 100%;
  border-radius: 6px;
}

.wallpaper-list {
  display: grid;
  list-style: none;
  margin: 0;
}

.wallpaper-option {
  margin: 10px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.apply-wallpaper-btn-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.apply-wallpaper-btn {
  cursor: pointer;
}

/* -- Cheat Code Window -- */
#window-cheat-code {
  width: 300px;
}

#window-cheat-code-content {
  padding: 10px;
  text-align: right;
}

#cheat-code-entry-input {
  width: 100%;
  margin: 5px 0 10px 0;
  text-align: left;
}

/* -- About Window -- */
#window-about {
  width: 200px;
}

#window-about-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#window-about-content span {
  padding: 10px 0;
  line-height: 2;
}

/* -- GOD Album Window -- */
#window-god {
  width: 380px;
}

#window-god-content {
  padding: 20px 10px 15px 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  background-image: url(/images/ui/god_cover_blurred.png);
  background-size: cover;
  background-position: bottom;
}

.window-god-group {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
}

.window-god-group img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}

/* -- Members Window -- */
#window-members {
  width: 360px;
}

#window-members-content {
  padding: 5px 10px 13px 10px;
}

.members-row {
  text-align: center;
}

.members-group {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}

.members-group img {
  width: 80px;
  height: 80px;
}

.members-group span {
  padding: 5px 0;
}

/* -- Desktop Icons -- */
#desktop-icons {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  z-index: -99997;
}

.desktop-icon-group {
  margin: 10px;
  max-width: 64px;
  text-align: center;
  cursor: pointer;
}

.desktop-icon-text {
  line-height: 1.2;
}

/* -- Override Classes -- */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* ------------ MOBILE ------------ */
@media (max-width: 35em) {
  /* -- Welcome Window -- */
  #window-welcome {
    width: 300px;
  }
  /* -- GOD Album Window -- */
  #window-god {
    width: 280px;
  }
  /* -- Members Window -- */
  #window-members {
    width: 320px;
  }
  .members-group img {
    width: 56px;
    height: 56px;
  }
  /* -- Wallpapers Window -- */
  #window-wallpapers {
    width: 200px;
  }
  /* -- Cheat Code Window -- */
  #window-cheat-code {
    width: 280px;
  }
  /* -- About Window -- */
  #window-about {
    width: 200px;
  }
}/*# sourceMappingURL=main.css.map */